.lottery-box {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    background: lightgray;
    padding: 3%;
}

.lottery-number {
    font-size: 2em;
    background-color: lightgreen;
    border: 1px solid black;
    padding: 2%;
}


.page-title {
    text-align: center;
}

.introduction {
    text-align: center;
}


.lottery-button {
    margin: auto;
    display: block;
}
